---
layout: default
title: Home
---

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        <!-- {% if post.image %} -->
            {% include postbox.html %}
        <!-- {% endif %} -->
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

