<!-- Post, Page Content
================================================== -->
<div class="article-post">
    <!-- Toc if any -->
    {% if page.toc %}
    {% if page.beforetoc %}
        <p><em>{{page.beforetoc}}</em></p>
    {% endif %}
    <div class="toc mt-4 mb-4 lead">
        <h3 class="font-weight-bold">Summary</h3>
        {% include toc.html class="" html=content %}
    </div>
    {% endif %}
    <!-- End Toc -->
    {{content}}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var tables = document.querySelectorAll(".article-post table");
        tables.forEach(function(table) {
            var wrapper = document.createElement('div');
            wrapper.style.overflowX = 'auto';
            table.parentNode.insertBefore(wrapper, table);
            wrapper.appendChild(table);
        });
    });
</script>
